@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-color: rgba(21, 102, 81, 1);
  --text-color: rgba(64, 64, 64, 1);
  --neutral-10-color: rgb(255, 255, 255);
  --neutral-20-color: rgb(245, 245, 245);
  --neutral-30-color: rgb(237, 237, 237);
  --neutral-40-color: rgb(237, 237, 237);
  --neutral-50-color: rgb(194, 194, 194);
  --neutral-60-color: rgb(158, 158, 158);
  --neutral-70-color: rgb(117, 117, 117);
  --neutral-80-color: rgb(97, 97, 97);
  --neutral-90-color: rgb(64, 64, 64);
  --neutral-100-color: rgb(10, 10, 10);

  --heading-1-font-weight: 800;
  --heading-1-font-size: 40px;
  --heading-2-font-weight: 800;
  --heading-2-font-size: 32px;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 24px;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 20px;
  --heading-5-font-weight: 400;
  --heading-5-font-size: 18px;
  --body-regular-font-weight: 400;
  --body-regular-font-size: 16px;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 16px;
  --body-small-regular-font-weight: 400;
  --body-small-regular-font-size: 14px;
  --body-small-bold-font-weight: 700;
  --body-small-bold-font-size: 14px;
  --caption-font-weight: 400;
  --caption-font-size: 12px;
  --shadow-medium: 0px 2px 24px 0px rgba(0, 0, 0, 0.2);
  --minimum-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);
}

/* PRODUCT */

.product-list-frame {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
}

.product {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  background-color: var(--neutral-10-color);
  border-radius: 18px;
  box-shadow: var(--shadow-medium);
}

.product-picture-container {
  width: 135px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 12px;
}

.product-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-about-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-title {
  color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
}

.product-info {
  color: var(--neutral-60-color);
  font-weight: 400;
  font-size: 14px;
}

.product-rating {
  font-size: 12px;
  color: var(--neutral-80-color);
}

.product-availability {
  background-color: var(--primary-color);
  color: var(--neutral-10-color);
  height: 30px;
  min-width: 100px;
  width: fit-content;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.product-availability-red {
  background-color: #e44a4a;
}

/* BUTTON */

.button-default {
  all: unset;
  background-color: var(--primary-color);
  color: var(--neutral-10-color);
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
}

.button-secondary {
  all: unset;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--Primary, #156651);
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
}

/* SEARCH BAR */

.search-section {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 46px;
  border: 1px solid #e0e0e0;
  background-color: var(--neutral-10-color);
  border-radius: 28px;
  gap: 10px;
}

.search-bar-container svg {
  margin-left: 16px;
}

.search-bar-typing {
  all: unset;
  height: 100%;
  width: 100%;
  color: var(--text-color);
}

.search-bar-typing::placeholder {
  color: var(--neutral-60-color);
  font-size: var(--body-small-regular-font-size);
  font-weight: var(--body-small-regular-font-weight);
}

/* TOOLS BAR */

.tools-container {
  grid-column: 1 / -1;
  display: flex;
  max-width: 100%;
  background-color: var(--neutral-10-color);
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--neutral-40-color);
  border-radius: 20px;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.tools-container__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-container__box img {
  border: 1px solid var(--neutral-40-color);
  object-fit: contain;
  border-radius: 12px;
  box-shadow: var(--minimum-shadow);
}

/* NAV BAR */

.navbar-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  height: 90px;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(16.75px);
  z-index: 100;
  position: fixed; /* Fix position relative to the viewport */
  bottom: 0; /* Anchor to the bottom */
  left: 0; /* Stretch to the left edge */
  right: 0;
}

.navbar-container__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 82px;
}

.navbar-container__box h2 {
  font-size: var(--body--bold-font-size);
  font-weight: var(--body-bold-font-weight);
  color: var(--neutral-60-color);
}

.navbar-container__box svg {
  color: var(--neutral-60-color);
}

.navbar-container__box-green h2,
.navbar-container__box-green svg {
  color: var(--primary-color);
}

/* ACCOUNT CONTAINER */

.account-container {
  grid-column: 1 / -1;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--neutral-10-color);
  border-radius: 14px;
  padding: 16px;
  gap: 16px;
  box-shadow: var(--shadow-medium);
}

.account-container img {
  /* margin-left: 10px; */
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.account-container__text {
  display: flex;
  flex-direction: column;
  width: 214px;
}

.account-container h2 {
  color: var(--text-color);
  font-size: var(--heading-4-font-size);
  font-weight: var(--heading-4-font-weight);
}

.account-container p {
  color: var(--neutral-60-color);
  font-size: var(--body-small-regular-font-size);
  font-weight: var(--body-small-regular-font-weight);
}
